.form-title {
  color: #08b68b;
}
.user-form {
  max-width: 450px;
  background-color: rgb(221, 230, 229);
}
.btn-submit {
  background-color: #07a173;
}
.fa-google {
  color: #f74040;
}
.fab {
  cursor: pointer;
}
