.form-title {
  color: #08b690;
}
.user-form {
  max-width: 450px;
  background-color: rgb(221, 229, 230);
}
.btn-submit {
  background-color: #07a166;
}
.fa-google {
  color: #f74040;
}
.fab {
  cursor: pointer;
}
